flows.json
[{"id":"e5da0c86.cabca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f218f00.86542","type":"ui_form","z":"e5da0c86.cabca","name":"","label":"","group":"e3da08b4.96a4c8","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality\t","value":"a","type":"number","required":true,"rows":null},{"label":"BMI ","value":"b","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"c","type":"number","required":true,"rows":null},{"label":"GDP","value":"d","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"e","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"f","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"g","type":"number","required":true,"rows":null},{"label":"Schooling","value":"h","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["1654d2fa.49d21d"]]},{"id":"1654d2fa.49d21d","type":"function","z":"e5da0c86.cabca","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\n\n//following are required to receive a token\nvar apikey=\"vKfvmfZSvWF4RbMw2tzMGnraftQZLyYy8TmpmpzPYCyK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["1eb80880.e5ff37"]]},{"id":"bce7326.6af64d","type":"http request","z":"e5da0c86.cabca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6ee80741-f946-4019-a313-4db6696c458d/deployments/907678d2-4180-4924-b004-4d31d4a106f7/online","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":360,"wires":[["3199fdbe.9e34c2","b024f9c9.b04368"]]},{"id":"5f5a9486.211c8c","type":"debug","z":"e5da0c86.cabca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"b024f9c9.b04368","type":"function","z":"e5da0c86.cabca","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["5f5a9486.211c8c","b5624b8a.3e91e8"]]},{"id":"3199fdbe.9e34c2","type":"debug","z":"e5da0c86.cabca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"6f2381dd.ce677","type":"function","z":"e5da0c86.cabca","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"6ee80741-f946-4019-a313-4db6696c458d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality',' BMI ',' HIV/AIDS','GDP',' thinness  1-19 years',' thinness 5-9 years','Income composition of resources','Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["bce7326.6af64d"]]},{"id":"1eb80880.e5ff37","type":"http request","z":"e5da0c86.cabca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["6f2381dd.ce677"]]},{"id":"b5624b8a.3e91e8","type":"ui_text","z":"e5da0c86.cabca","group":"e3da08b4.96a4c8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"e3da08b4.96a4c8","type":"ui_group","z":"","name":"LIfeExpectancy","tab":"e5c57bd5.fcad28","order":1,"disp":true,"width":"6","collapse":false},{"id":"e5c57bd5.fcad28","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]